*{
	margin: 0;
	padding: 0;
	
	
}

html,body{
	height: 100%;
}


header nav{
	float:right;
	margin-top: -200px;


}

nav.mobile{
	margin-top:40px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url('../img/menu.png');
	display: none;
}

nav.mobile ul{
	display: none;
	width: 100%;
	left: 0;
	top: 50px;
	border-bottom:4px solid #EB2D2D;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}

nav.mobile li{
	font-size: 23px;
	padding:20px 0px;
	font-style: italic;
}

nav.mobile li a{
	color: black;
	text-decoration: none;
}
header nav.desktop ul li{
	float:left;
	font-size: 23px;
	padding:0 20px;
	font-style: italic;

}

header nav.desktop a{
    color: black;
    text-decoration: none;
}
header nav.desktop ul{
	list-style-type: none;
}
section.banner{
	overflow:hidden;
	width: 100%;
	height:900px;
	background-image: url('../img/capa.jpg');		
	background-repeat: no-repeat;
}

